<h1>Pet</h1>
<div class="card">
  <div class="card-head">
    Information about our application
  </div>
  <div class="card-body">
    Pet is an application for monitoring and controlling your pet regardless of its species. If your goal is to take
    care of it, this application will help you:
    <ul>
      <li>Record of basic information about your pet.</li>
      <li>Follow-up control from your designated veterinarian.</li>
      <li>Average and dose that should be applied to your pet.</li>
      <li>Follow-ups to periodic baths and advice on how to apply them more easily to your pet.</li>
      <li>Care treatment for your pet.</li>
    </ul>
  </div>
</div>
