<form class="field-form">
  <mat-form-field class="field-full-width">
    <mat-label>Body size</mat-label>
    <input type="text" placeholder="Pick one" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async; let track option" [value]="option.name"
        (onSelectionChange)="selectedMassMeasurementUnits(option.id)">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
