<div>
  <form [formGroup]="petForm" class="form-container">
    <h3>Register pet information</h3>
    <app-search-pet-owner (messageEvent)="receiveMessage($event)" />

    <mat-form-field class="form-field-full-width">
      <mat-label>Please input your name.</mat-label>
      <input matInput type="text" formControlName="name">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearName()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthdate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <mat-label>Please input age.</mat-label>
      <input matInput type="text" formControlName="age">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearAge()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <label id="id-label-gender">Select the gender of the pet</label>
    <mat-radio-group id="radio-gender" aria-labelledby="id-label-gender" formControlName="gender">
      <mat-radio-button value="M">Male</mat-radio-button>
      <mat-radio-button value="F">Female</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="form-field-full-width">
      <mat-label>Please input race.</mat-label>
      <input matInput type="text" formControlName="race">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearRace()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter the characteristics of all your limbs:</mat-label>
      <textarea matInput formControlName="characteristicsExtremities"></textarea>
    </mat-form-field>

    <div class="container-row">
      <div class="container">
        <mat-label class="label-text" for="image">Select the image</mat-label>
        <input type="file" id="image" accept="image/*" (change)="upload($event)">
      </div>
      <div class="container container-image">
        <img [src]="url" alt="">
      </div>
    </div>

    <div class="container-row">
      <div class="form-field-full-width marge-row-left">

        <div class="container-row">
          <div class="padding-row-right">
            <label class="label-select-row">Enter the weight</label>
            <mat-form-field class="form-field-full-width">
              <mat-label>Please input weight.</mat-label>
              <input matInput type="text" formControlName="weightValue">
              <button matSuffix mat-icon-button aria-label="Clear" (click)="clearWeightValue()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="padding-row-left">
            <label class="label-select-row">Select the unit of measure</label>
            <app-mass-measurement-units (mgMassMeasurementUnitsEvent)="receiveMassMeasurementUnitsMessage($event)" />
          </div>
        </div>

        <label class="label-select-row">Select the predominant color of the pet's hair</label>
        <app-color (mgColorEvent)="receiveColorMessage($event)" />

        <label class="label-select-row">Select the pet's body size</label>
        <app-body-size (mgBodySizeEvent)="receiveBodySizeMessage($event)" />
      </div>

      <div class="form-field-full-width marge-row-right ">
        <label class="label-select-row">Select the pet category</label>
        <app-pet-category (mgPetCategoryEvent)="receivePetCategoryMessage($event)" />

        <label class="label-select-row">Select the type of pet figure</label>
        <app-type-figure (mgTypeFigureEvent)="receiveTypeFigureMessage($event)" />

        <label class="label-select-row">Select the color of the pet's eyes</label>
        <app-color (mgColorEvent)="receiveEyeColorMessage($event)" />
      </div>
    </div>

    <div class="btn-contaniner">
      <button mat-raised-button color="primary" (click)="onCreater()">Guardar</button>
      <button mat-raised-button class="btn-cancel" color="warn">Cancelar</button>
    </div>
  </form>
</div>
