.form-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 1.25rem;
}

.form-container h3 {
  font-weight: 500;
}

.form-field-full-width {
  width: 100%;
}

#radio-gender {
  padding-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-image {
  margin: auto;
  background-color: darkgrey;
  height: 20rem;
  width: 20rem;
}

input[type="file"]::file-selector-button {
  background-color: #3f51b5;
  color: #FFFF;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

input[type=file]::file-selector-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 6px 14px -2px rgba(207, 199, 207, 1);
  -moz-box-shadow: 1px 6px 14px -2px rgba(207, 199, 207, 1);
  box-shadow: 1px 6px 14px -2px rgba(207, 199, 207, 1);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  .container-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .marge-row-left {
    padding: 1rem .5rem 1rem 0;
  }

  .marge-row-right {
    padding: 1rem 0 1rem .5rem;
  }

  .label-select-row {
    margin: 5rem .1rem;
  }

  .btn-contaniner {
    margin: auto;
  }

  .btn-saved {
    margin-right: 1rem;
  }

  .btn-cancel {
    margin-left: 1.2rem;
  }

  .padding-row-left {
    padding-left: .5rem;
  }

  .padding-row-right {
    padding-right: .5rem;
  }
}

/* Small devices (portrait tablets and large phones, 599px and up) */
@media only screen and (max-width: 599px) {
  .container-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
